server:
  port: 8080

spring:
  application:
    name: helpinghands-backend
    org: helpinghands
  datasource:
    url: ${SPRING_DATASOURCE_URL:jdbc:mysql://localhost:3306/helpinghands?useSSL=false&serverTimezone=UTC}
    username: ${SPRING_DATASOURCE_USERNAME:root}
    driver-class-name: com.mysql.cj.jdbc.Driver
    hikari:
      maximum-pool-size: 20
      minimum-idle: 5
      connection-timeout: 30000
      idle-timeout: 600000
      max-lifetime: 1800000
  jpa:
    hibernate:
      ddl-auto: update
#    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect
        format_sql: true

jwt:
  secret: your-secret-key-change-this-in-production-min-256-bits-please-use-a-very-long-secret-key-for-security
  expiration: 86400000

logging:
  pattern:
    correlation: "[%X{traceId:-},%X{spanId:-}] "
  level:
    com.helpinghands: INFO
    org.springframework.security: INFO

management:
  endpoints:
    web:
      exposure:
        include: "*"
  endpoint:
    health:
      show-details: "always"
  metrics:
    distribution:
      percentiles-histogram:
        http:
          server:
            requests: true
          client:
            requests: true
    tags:
      application: ${spring.application.name}
      org: ${spring.application.org}
  tracing:
    sampling:
      probability: 1.0
    export:
      zipkin:
        enabled: true # not sure if this is even required (Too Tired to Test)
  observations:
    key-values:
      application: ${spring.application.name}

